@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
/* Styling */

* {
  font-family: 'Questrial', sans-serif;
}

.App {
  text-align: center;
}

.App * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-item {
  max-width: 375px;
  text-align: left;
  padding: 24px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.095);
}